@inherits LayoutComponentBase
<PageTitle>DBWebStudio</PageTitle>
<div class="d-flex vh-100 flex-column"> 
    <ToolBar EnableEdit=true />
    <div class="page flex-fill">
        <div class="h-100">
            <NavMenu />
        </div>
        <div class="content h-100 w-100 p-2">
            @Body
        </div>
    </div>
</div>


